/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fixed width container class that will "auto-center" itself */
.container {
    width: 1200px;
    margin: 0 auto;
}


/* A simple row for your webpage.*/
.row {
    display: flex;
    justify-content: center;
    border: dotted 1px black;
    text-align: center;
}

/* A simple column for your webpage.*/
.col {
    flex: 1;
    margin: 5px;
    border: solid 1px black;
}


/* A navigation bar and its parts. */
.nav {
    display: flex;
    padding: 0px;
    align-items: center;
    background-color: rgb(75,75,75);
    color: white;
    border: outset 1px white;

}

.nav-links{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
}

.nav-title{
    font-size: 40px;
    margin: 5px 725px 5px 10px;
}

/* A bar to be placed within or over parts of an element. */
.cyanBar {
    overflow: visible;
    position: relative;
    left: -3px;
    top: -3px;
    margin-right: -6px;
    border: solid 3px darkcyan;
    height: 100px;
    background-color: darkcyan;
}

/*A way to get a circular picture with two borders.*/
.circlePic {
    height: 80px;
    width: auto;
    margin-top: 60px;
    border: solid 3px white;
    border-radius: 50px;
    box-shadow: 0px 0px 0px 3px lightgrey;
}

/* A button I like. */
.btn {
    padding: 3px 0px;
    margin: 20px;
    width: 90px;
    text-align: center;
    background-color: ghostwhite;
    color: lightgreen;
    border: 1px solid lightgreen;
    border-radius: 15px;
}
