body {
    background-color: whitesmoke;
    font-family: sans-serif;
}

h1 {
    text-align: left;
    background-color: black;
    color: white;
}

h2 {
    text-align: center;
    background-color: rebeccapurple;
    color: white;
    font-style: italic;
}

h3 {
    text-align: right;
    background-color: cadetblue;
    color: rebeccapurple;
    text-decoration: underline;
}
