body {
    background-color: rgb(75,75,75);
    font-family: 'Roboto', sans-serif;
}

.nav {
    display: flex;
    padding: 0px;
    align-items: center;
    background-color: rgb(75,75,75);
    color: white;
    border: outset 1px white;

}

.nav-links{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
}

.nav-title{
    font-size: 40px;
    margin: 5px 725px 5px 10px;
}

li {
    margin: 10px 15px;
    font-size: 20px;
}

a {
    color: white;
    text-decoration: none;
}

button {
    height: 40px;
    width: 100px;
    font-size: 20px;
    background-color: steelblue;
    color: white;
    border: solid 2px black;
    box-shadow: 3px 3px black;
}