#Box-1 {
    background-color: lightgrey;
    color: lightgreen
}

#Box-2 {
    background-color: lightseagreen;
    color: white;
}

#Box-3 {
    background-color: cornflowerblue;
    color: white;
}